<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <servlet>
        <servlet-name>auth</servlet-name>
        <servlet-class>net.teamIdea.StreamSavr.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>auth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>archiver</servlet-name>
        <servlet-class>net.teamIdea.StreamSavr.servlet.ArchiverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>archiver</servlet-name>
        <url-pattern>/archiver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>callback</servlet-name>
        <servlet-class>net.teamIdea.StreamSavr.servlet.CallbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>progress</servlet-name>
        <servlet-class>net.teamIdea.StreamSavr.servlet.ProgressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>progress</servlet-name>
        <url-pattern>/progress</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>twitter</filter-name>
        <filter-class>net.teamIdea.StreamSavr.filter.TwitterFilter</filter-class>
    </filter>



</web-app>
